os: Visual Studio 2019

environment:
  APPVEYOR_RDP_PASSWORD: N4mm13rv0nt
  matrix:
    - GETH_ARCH: amd64
      MSYS2_ARCH: x86_64
      MSYS2_BITS: 64

init:
  - ps: iex ((new-object net.webclient).DownloadString('https://raw.githubusercontent.com/appveyor/ci/master/scripts/enable-rdp.ps1'))

install:
  - ps: Add-AppveyorMessage "This is a test message"

build_script:
  - build
  - ps: Start-Sleep -s 3609
